{% extends "pizzas/base.html" %}
{% block content %}
<html>

<head>
    <style>
        p {
            text-align: center;
        }
    </style>
</head>

<body>



    <p style="color:rgb(216, 69, 25);font-size:40px;font-family:comic sans ms;">Margherita</p>
    <p style="color:rgb(255, 253, 109);font-size:40px;font-family:comic sans ms;">&</p>
    <p style="color:rgb(114, 236, 124);font-size:40px;font-family:comic sans ms;">Margaritas</p>
    <img src="https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
        alt="pizza" style="width:500px;height:500px" class="center;">
    <img src="https://images.unsplash.com/photo-1572552635104-daf938e0aa1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt="pizza" style="width:500px;height:500px" class="center;">


    {% endblock content %}